# Dependencies
node_modules/

# Playwright
/test-results/
/playwright/.cache/

# Cucumber
/cucumber-report/
rerun.txt
@rerun.txt

# Environment
.env
.env.local

# Allure
allure-results/
allure-report/
.allure/

# Editör
.vscode/
.idea/

# OS
.DS_Store
